[submodule "zsh/zsh/powerlevel10k"]
	path = zsh/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git

[submodule "zsh/zsh/zsh-autosuggestions"]
	path = zsh/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/zsh/zsh-syntax-highlighting"]
	path = zsh/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/follow1123/nvim.git
[submodule "sde/dwm"]
	path = sde/dwm
	url = https://github.com/follow1123/dwm.git
[submodule "sde/st"]
	path = sde/st
	url = https://github.com/follow1123/st.git
[submodule "sde/dwmblocks-async"]
	path = sde/dwmblocks-async
	url = https://github.com/follow1123/dwmblocks-async.git
